@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

html, body{
	background: url('./img/cover.jpg') no-repeat center center fixed;
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar-text{
	text-decoration: none!important;
	color: #FFF!important;
	margin: 0!important;
	padding: 0px 10px 0px 0px!important;
	font-size: 22px!important;
	font-style: italic!important;
	font-family: 'Mr Dafoe', cursive, "Forte", "Gabriola"!important;
}

.navbar .fa{
	color: #fff!important;
	font-size: 30px!important;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

h3{
	position: absolute;
	color: white;
	font-size: 40px;
	left: 15%;
	top: 65%;
	font-style: italic;
	font-family: 'Yesteryear', cursive;
}
h5{
	position: absolute;
	color: white;
	font-size: 17px;
	left: 18%;
	top: 75%;
	font-style: italic;
	font-family: 'Caveat', cursive;
	opacity: 0.8;
}
h4{
	position: absolute;
	color: white;
	font-size: 17px;
	left: 13%;
	top: 58%;
	font-style: italic;
	font-family: 'Caveat', cursive;
	opacity: 0.8;
}
