@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

html, body{
	background: url('./img/cover.jpg') no-repeat center center fixed;
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 
.navbar-text{
	text-decoration: none;
	color: #FFF!important;
	margin: 0;
	padding: 0;
	font-size: 30px;
	font-style: italic;
	font-family: 'Mr Dafoe', cursive, "Forte", "Gabriola";
}

.navbar .fa{
	color: #FFF;
	font-size: 30px;
}

h3{
	position: absolute;
	color: white;
	font-size: 40px;
	left: 15%;
	top: 65%;
	font-style: italic;
	font-family: 'Yesteryear', cursive;
}
h5{
	position: absolute;
	color: white;
	font-size: 27px;
	left: 15%;
	top: 75%;
	font-style: italic;
	font-family: 'Caveat', cursive;
	opacity: 0.8;
}
